<ion-header class="mt-header">
  <ion-searchbar #searchbar placeholder="Search city or address" [hidden]="!search"></ion-searchbar>
  <expandable-header [scrollArea]="mycontent" headerHeight="125">
    <div class="customTitle">
      <h1 *ngIf="view == 'coins'">Check Coins</h1>
      <h6 no-margin class="semi-transparent">{{ curCount }} Currencies
      </h6>
    </div>
  </expandable-header>
</ion-header>
<ion-content class="primary-font" fullscreen #mycontent>
  <div padding class="selected-topics">
    <ion-chip *ngFor="let topic of selectedCurrencies">
      <ion-label>{{ topic }}</ion-label>
      <button ion-button clear (click)="deleteTopic(topic)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-chip>
  </div>
  <ion-slides padding paginationType autoplay="3000" loop spaceBetween="10" slidesPerView="3" style="height: 20vh">
		<ion-slide *ngFor="let topic of allCurrencies" style="border-radius: 5px"
        [ngStyle]="{'background': 'linear-gradient(283deg, #CFD4DE, '+topic.color+')'}"
        (click)="addTopic(topic.name)">
      <hr margin>
      <span class="white">{{ topic.name }}</span>
    </ion-slide>
  </ion-slides>
  <div *ngIf="view == 'coins'">
      <ion-card *ngFor="let curDetail of currencieDetail"  (click)="goToDetail(curDetail)">
        <ion-card-header [ngStyle]="{'background': 'linear-gradient(283deg, #CFD4DE, '+curDetail.color+')'}"          >
          <h2 class="word-wrap secondary-font" [innerHTML]="curDetail.name"></h2>
          <h6>Sigle:
            <span>{{ curDetail.sigle }}</span>
          </h6>
        </ion-card-header>

      </ion-card>
  </div>
</ion-content>
